.button-round-container {
  background: #A1C5EF;
  border-radius: 50%;
  width: 55px;
  height: 55px;

  display: flex;

  margin: auto;
  margin-top: 20px;
  

  align-items: center;
  justify-content: center;
}

.button-round-container:last-child {
  margin-bottom: 20px;
}