.filter-container {
  margin: auto;
  margin-top: 105px;

  width: 70%;
}

.filter-text {
  width: 100%;
  margin-top: 30px;
  text-align: center;
}

.filter-url-box {
  margin-top: 42px;

  width: 100%;
}