@font-face {
    font-family: 'ComfortaaReg';
    src: url('../../fonts/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.homePage {
    width: 1000px;
    min-width: 800px;
    margin: 50px auto;
}

.homePageHeader {
    margin-left: 400px;
    margin-bottom: 20px;
    font-family: 'ComfortaaReg';
    font-style: normal;
}

.orLabel {
    margin-left: 558px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'ComfortaaReg';
    font-style: normal;
}

.homepageSubmitButton {
    margin-left: 1063px;
    margin-top: 20px;
}

.textInputBox {
    width: auto;
    margin: auto;
}