@font-face {
    font-family: 'ComfortaaReg';
    src: url('../../fonts/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.homePage {
    position: absolute;
    padding-left: 18%;
    padding-right: 18%;
    padding-top:5%;
}

.homePageHeader {
    padding-top: 100px;
    padding-left: 400px;
    padding-bottom: 10px;
    font-family: 'ComfortaaReg';
    font-style: normal;
}

.orLabel {
    padding-left: 558px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family: 'ComfortaaReg';
    font-style: normal;
}

.homepageSubmitButton {
    padding-left: 1063px;
    padding-top: 20px;
}

.homePageTitle {
    font-size: 60px;
    font-family: 'ComfortaaReg';
    font-style: normal;
}