@font-face {
    font-family: 'ComfortaaReg';
    src: url('../../fonts/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.homePage {
    width: 60%;
    min-width: 700px;
    margin: 100px auto;
}

.homePageTitle {
    font-size: 60px;
    text-align: center;
}

.homePageHeader {
    margin-top: 40px;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'ComfortaaReg';
    font-style: normal;
}

.orLabel {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'ComfortaaReg';
    font-style: normal;
}

.homepageSubmitButton {
    float: right;
    margin-top: 20px;
}

.textInputBox {
    width: auto;
    margin: auto;
}