@font-face {
    font-family: 'ComfortaaReg';
    src: url('../../fonts/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.resultsPage {
    width: 1250px;
    height: auto;
    margin: 50px auto;
}

.resultsPageHeader {
    padding-bottom: 25px;
    font-family: 'ComfortaaReg';
    font-style: normal;
    font-size: 17px;
}
.resultsDisplayStack {
    display: flex;
}

/* .resultTwo {
    padding-left: 420px;
}

.resultThree {
    padding-left: 840px;
} */
/* 
.overallResultPanel {
    padding-top: 420px;
} */