@font-face {
    font-family: 'ComfortaaReg';
    src: url('../../fonts/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.resultsPage {
    padding-left: 350px;
    padding-top: 100px;
    position: absolute;
}

.resultsPageHeader {
    padding-left: 550px;
    padding-bottom: 25px;
    font-family: 'ComfortaaReg';
    font-style: normal;
    font-size: 17px;
}

.resultTwo {
    padding-left: 420px;
}

.resultThree {
    padding-left: 840px;
}

.overallResultPanel {
    padding-top: 420px;
}