@font-face {
    font-family: 'ComfortaaReg';
    src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.BiasOverallContainer {
    box-sizing: border-box;

    width: 100%;
    height: auto;

    background: #FCFCFC;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
}

.overallBoxHeader {
    height: 28px;
    margin-top: 30px;
    text-align: center;

    font-family: 'ComfortaaReg';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
}

.overallDescriptionBox {
    font-family: 'ComfortaaReg';
    font-size: 15px;
    margin-top: 30px;
    width: 60%;
    margin-left: 70px;
    /* border: 1px solid #ff0000; /* Margin for testing/fine-tuning - Keep commented out */
}

.content {
    display: flex;
}