@font-face {
    font-family: 'ComfortaaReg';
    src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.biasDisplay {
    box-sizing: border-box;

    flex-grow: 1;
    height: auto;
    margin: 10px;
    margin-left: 0;
    padding-bottom: 20px;
    background: #FCFCFC;
    border: 1px solid #D2D2D2;
    border-radius: 8px;
}

.boxHeader {
    width: 100%;
    height: 28px;
    margin-top: 30px;
    text-align: center;

    font-family: 'ComfortaaReg';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #000000;
}

.descriptionBox {
    font-family: 'ComfortaaReg';
    font-size: 15px;
    width: 295px;
    height: 140px;
    margin-left: 50px;
    /* border: 1px solid #ff0000; /* Margin for testing/fine-tuning - Keep commented out */
}

.discreteBarContainer {
    padding-left: 25px;
    width: 345px;
}

.discreteBarHeader {
    font-family: 'ComfortaaReg';
    font-size: 15px;
    font-weight: 500;
}

.discreteBarLeftLabel {
    font-family: 'ComfortaaReg';
    font-size: 14px;
}

.discreteBarRightLabel {
    font-family: 'ComfortaaReg';
    font-size: 14px;
    float: right;
}

.confidenceBarHeader {
    font-family: 'ComfortaaReg';
    font-size: 15px;
    font-weight: 500;
}

.confidenceBarContainer {
    width: 345px;
    padding-left: 25px;
}

.confidenceBarLeftLabel {
    font-family: 'ComfortaaReg';
    font-size: 14px;
}

.confidenceBarRightLabel {
    font-family: 'ComfortaaReg';
    font-size: 14px;
    float: right;
}