.loading-overlay {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    top: 0px;
    background: rgba(0, 0, 0, 0.4);
    z-index: 2;
}

.loading-container {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;

    border-radius: 5px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
}