.fullPageContainer {
    display: flex;
    flex-grow: 1;
}

.navbarContainer {
    width: 50px;
    padding: 50px 15px;
    height: 500px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-left: 50px;

    background: #6DA3E3;
    border-radius: 54px;
    z-index: 1;
}

.pageContainer {
    flex-grow: 1;
}