@font-face {
    font-family: 'ComfortaaReg';
    src: url('../fonts/Comfortaa-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.submitButton {
    box-sizing: border-box;

    position: absolute;
    width: 111px;
    height: 42px;

    background: #A1C5EF;
    border: 1px solid #000000;
    border-radius: 8px;
    cursor: pointer;
}

.submitButton:hover {
    border: 1px solid #D3E8FF;
    border-radius: 8px;
}

.buttonText {
    padding-top: 11px;
    padding-left: 25px;
    position: absolute;
    width: 60px;
    height: 20px;

    font-family: 'ComfortaaReg';
    font-style: normal;
    font-size: 16px;


    color: #000000;
}


