.discreteBarBG {
    position: absolute;
    width: 345px;
    height: 30px;

    background: #D3E8FF;
    border-radius: 54.5px;
}

.discreteBar {
    position: absolute;
    height: 30px;
    margin-top: 0px;

    background: #6DA3E3;
    border-radius: 54.5px;
}